/* MAIN BODY */
body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* NAVIGATION BAR */
#home_wrapper {
    display: flex;
    flex-direction: column;
    background-color: #577F9E;
    padding: 3% 11% 0 14%;
}

#nav-wrapper {
    background-color: inherit;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title > a {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: white;
}

#book_icon {
    margin-left: 18px;
    margin-bottom: 4%;
}

#book_icon:hover {
    cursor: pointer;
}

#nav-links {
    display: flex;
    flex-direction: row;
    padding-top: 1.8%;
}

#nav-links > li {
    list-style-type: none;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
}

#nav-links > li > a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: 0.2s;
}

#nav-links > li > a:hover {
    opacity: 1;
    border-bottom: white 3px solid;
}

/* HOMEPAGE */
#home {
    background-color: #577F9E;
    height: 77vh;
    display: flex;
    flex-direction: row;
}

#info_text {
    margin-right: -22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 7%;
}

#phrase {
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 45px;
    font-weight: 300;
    line-height: 65px;
}

#copyright_icon {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: -5px;
}

button {
    background-color: #1f2c47;
    border-width: 0;
    color: white;
    padding: 13px 20px;
    margin-top: 5%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    border-radius: 6px;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #151F31;
}

#mockup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: -3%;
}

.small_mockup {
    opacity: 0.7;
}

/* PRICING PLANS */
#pricing {
    background-color: white;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 24% 0;
}

#price_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price_info > h1 {
    font-family: "Roboto Slab", serif;
    font-size: 45px;
    font-weight: 400;
    color: #26292C;
}

#price_info > h3 {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 18px;
    color: #62727F;
    margin-top: 1%;
}

#price_plans {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 6%;
    margin-top: 2%;
}

.plan_container {
    display: flex;
    flex-direction: column;
    border: #62727F 2px solid;
    border-radius: 6px;
    height: fit-content;
    margin-right: -5%;
    padding: 0.5% 0;
    margin-top: 1%;
    width: fit-content;
}

.plan_name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #26292C;
    font-size: 28px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin-bottom: 6%;
    text-align: center;
    border-bottom: 2px #62727F solid;
    padding-bottom: 2%;
    height: 60px;
}

.plan_content {
    padding-right: 12%;
    width: 102%;
    display: flex;
    flex-direction: column;
}

.plan_price {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5%;
    color: #26292C;
    text-align: center;
}

.plan_perk {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center;
    color: #62727F;
}

#price_plans > div > ul > li {
    list-style-type: none;
}

.register > button {
    color: white;
    background-color: #2a9d8f;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 1%;
    align-self: center;
}

.register > button:hover {
    background-color: #217B71;
}

#free_button {
    background-color: white;
    color: #2a9d8f;
    border: #2a9d8f 2px solid;
    transition: 0.3s ease-in;
}

#free_button:hover {
    background-color: #2a9d8f;
    color: white;
}

/* TESTIMONIALS */
#testimonials {
    background-color: #6C739D;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#press {
    margin-top: 5%;
}

#press > img {
    transform: scale(0.7);
}

.carousel-inner {
    padding: 0 15%;
}

.carousel-indicators > button {
    margin-bottom: -7%;
}

.testimonial-text {
    color: #F3EAF4;
    font-size: 45px;
    text-align: center;
    line-height: 75px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 3%;
    transition: 0.4s;
}

.testimonial-text:hover {

    cursor: pointer;
    transform: scale(1.07);
}

.testimonial-author {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

em {
    font-size: 25px;
    color: #F3EAF4;
    margin-left: 3%;
}

/* APP DOWNLOAD BUTTONS */
#download {
    background-color: white;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#download > div > h3 {
    font-family: "Roboto Slab", serif;
    font-size: 50px;
    font-weight: 400;
    color: #26292C;
    margin-top: -50px;
    text-align: center;
}

#alt_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

#alt_buttons > button {
    padding: 14px 26px;
    font-size: 22px;
    background-color: white;
    color: #1f2c47;
    border: #1f2c47 2px solid;
    transition: 0.2s ease-in;
}

#alt_buttons > button:hover {
    background-color: #1f2c47;
    color: white;
}

/* CONTACT & CONNECT */
#contact {
    background-color: #62727F;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#copyright > h3 {
    font-family: "Roboto Slab", serif;
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin-top: 8%;
}

#social_links > button {
    background-color: #62727F;
    font-size: 40px;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 5px 10px;
}

#facebook_icon:hover {
    color: #3b5998;
}

#twitter_icon:hover {
    color: #1da1f2;
}

#instagram_icon:hover {
    color: #c32aa3;
}

#gmail_icon:hover {
    color: #34a853;
}
